@model Web.Test.Controllers.Product
<style>
    .bubble {
        background-color: #fac400;
        height: 36px;
        width: 64px;
        padding: 0 8px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 18px;
        border-top-right-radius: 4px;
    }

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #eeeeee;
        animation: bounce 1000ms infinite;
    }

        .dot:nth-of-type(2) {
            -wekit-animation-delay: 50ms;
            animation-delay: 50ms;
        }

        .dot:nth-of-type(3) {
            -wekit-animation-delay: 100ms;
            animation-delay: 100ms;
        }

    @@keyframs bounce {
        0% {
            transform: translateY(0);
        }

        10% {
            transform: translateY(2px);
        }

        20% {
            transform: translateY(0);
        }
    }

    .has-float-label > label {
        color: #0ea960;
    }
</style>
<filterPanel>
    <dropDownFilterItem title="name" id="nameFilter">    </dropDownFilterItem>

    <filterItem>
        <filterBadge>
            تاریخ:
            <span class="badge badge-warning" id="dateFromFilter2-has"></span>
            <span class="badge badge-warning" id="dateToFilter2-has"></span>
            <i class="las la-angle-down"></i>
        </filterBadge>
        <filterBody>
            <div class="p-2 pt-4">
                <persianDatePicker class="filterInput" id="dateFromFilter"></persianDatePicker>
                <persianDatePicker class="filterInput" id="dateToFilter"></persianDatePicker>
            </div>
        </filterBody>
    </filterItem>
</filterPanel>
<div class="card">
    <div class="card-body">

        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">

                    <ShareBtn use-current-url="true" class="float-left btn-success"></ShareBtn>
                    <FloatingLabelInputGroup label="First and last name">
                        <input class="form-control" asp-for="Name" type="text" />
                        <input class="form-control" asp-for="Family" type="text">
                        <inputGroupAddon>
                            <button class="btn btn-navbar" type="submit">
                                <i class="las la-search"></i>
                            </button>
                        </inputGroupAddon>
                    </FloatingLabelInputGroup>

                    <FloatingLabelInput label="آواتار">
                        <imageChooserfor asp-for="Img"></imageChooserfor>
                    </FloatingLabelInput>

                    <FloatingLabelInputGroup label="نام">
                        <input class="form-control" asp-for="Name" placeholder="نام" type="text" />
                    </FloatingLabelInputGroup>

                    <FloatingLabelInputGroup label="Family">
                        <input class="form-control" asp-for="Family" placeholder="Family" />
                    </FloatingLabelInputGroup>

                    <FloatingLabelInput asp-for="Name" label="کشور">
                        <select class="form-control custom-select">
                            <option selected>United States</option>
                            <option>Canada</option>
                            <option>...</option>
                        </select>
                    </FloatingLabelInput>

                    <FloatingLabelInput asp-for="Tags" label="tags">
                        <TagInputFor asp-for="Tags"></TagInputFor>
                    </FloatingLabelInput>

                    <Bs4FormGroup label="">
                        <SwitchFor asp-for="IsActive" label="Is Active"></SwitchFor>
                    </Bs4FormGroup>



                    <FloatingLabelInput label="تاریخ ایحاد">
                        <PersianDatePickerFor asp-for="CreateDate"></PersianDatePickerFor>
                    </FloatingLabelInput>

                    <FloatingLabelInput label="توضیحات">

                        <TinyMce5For asp-for="Description" language="fa_IR" directionality="rtl">fddfdfda fasdf </TinyMce5For>
                    </FloatingLabelInput>


                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

